@font-face {
  font-family: 'Libre_Caslon_Text';
  src: 	url('../fonts/LibreCaslonText-Regular.eot');
  src:	url('../fonts/LibreCaslonText-Regular.ttf') format('truetype'),
  		  url('../fonts/LibreCaslonText-Regular.woff') format('woff'),
        url('../fonts/LibreCaslonText-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:  'Libre_Caslon_Text_Italic';
  src: 	url('../fonts/LibreCaslonText-Italic.eot');
  src:	url('../fonts/LibreCaslonText-Italic.ttf') format('truetype'),
  		  url('../fonts/LibreCaslonText-Italic.woff') format('woff'),
        url('../fonts/LibreCaslonText-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
  margin: 0;
  padding: 0; }

body {
	font-family: Libre_Caslon_Text, serif;
	font-size: 20px;
	line-height: 1.7em;
	color: #282828;
}

em {
	font-family: Libre_Caslon_Text_Italic, serif;
	font-style: normal;
}

a, a:visited {
	color: #0188ca;
	text-decoration: none;
}

a:hover {
	color: #005B89;
	background-color: #e5e5e5;
}


.cover {
	width: 100%;
	height: 1000px;
	background-image: url('../images/cover.jpg');
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 340px 50px 0px 200px;
	text-shadow: 2px 2px 4px #282828;
}

.cover .logo {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
}

.cover h2 {
	color: #F7F599;
}

.banner {
	color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	opacity: .9;
}

.banner h1 {
	margin: 30px 20px 20px;
	padding: 0;
	font-family: CooperHewitt_Bold, Helvetica, Arial, sans-serif;
	font-size: 1em;
	float: left;
	font-weight: normal;
}

.banner a, .banner a:visited {
	color: #000;
}

.banner .title {
	text-transform: uppercase;
}

.banner .author {
	text-transform: none;
	font-family: CooperHewitt_Bold, Helvetica, Arial, sans-serif;
}

.banner .logo {
	margin: 20px;
	height: 40px;
	width: 40px;
	float: right;
}

.toc {
	font-family: CooperHewitt_Book, Helvetica, Arial, sans-serif;
	font-size: .8em;
  letter-spacing: 1px;
  color: #0188ca;
	position: fixed;
	float: left;
	width: 300px;
	margin-left: 40px;
	margin-right: 60px;
	padding-left: 0;
	list-style: none;
}

.toc em {
	font-family: CooperHewitt_BookItalic, Helvetica, Arial, sans-serif;
}

.toc ul {
  list-style-type: none;
  padding: 0;
}

.toc ul li {
  line-height: 1.5em;
  margin-bottom: .5em;
}

.toc .title {
  font-family: CooperHewitt_Bold;
  text-transform: uppercase;
}

.toc .author {
  font-family: CooperHewitt_Bold;
  margin-bottom: 1.5em;
}

article {
	width: 740px;
	margin-left: 380px;
	margin-top: 120px;
}

article p:first-of-type {
	text-indent: 0;
}

article p {
	text-indent: 2em;
}

blockquote {
	margin-left: 2em;
	font-style: italic;
	margin-top: 1em;
	margin-bottom: 1em;
}

blockquote cite {
	font-size: .7em;
}

blockquote p em {
  font-family: Libre_Caslon_Text;
	font-style: normal;
}

article img {
	width: 400px;
	float: right;
	margin: 1em 0 0 20px;
	max-width: 100%;
}

img + span {
	width: 400px;
	float: right;
	margin: 1em 0px 1em 20px;
	max-width: 100%;
	font-size: .85em;
	font-family: CooperHewitt_Semibold, Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	text-indent: 0;
}

img + span em {
	font-family: CooperHewitt_SemiboldItalic, Helvetica, Arial, sans-serif;
}

img + span strong {
	font-family: CooperHewitt_Heavy, Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 4em;
	font-family: CooperHewitt_Bold, Helvetica, Arial, sans-serif;
	color: #fff;
	line-height: 1.35em;
	margin-bottom: .5em;
}

h2 {
  font-family: Libre_Caslon_Text_Italic;
	font-size: 3em;
	margin-bottom: 1.25em;
	margin-top: .5em;
	color: #0188ca;
	line-height: 1.35em;
}

h2.chapter-number {
	font-family: CooperHewitt_Bold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 900;
}

h3 {
	font-size: 2em;
	margin: 1em 0 .5em;
	line-height: 1.55em;
}

h3 + p {
	text-indent: 0;
}

h4 {
	font-family: CooperHewitt_Medium, Helvetica, Arial, sans-serif;
	margin: 1em 0;
	text-transform: uppercase;
}
