---
layout: base
---
<!-- {% include banner.html %} -->

{% include toc.html %}

<article>

	<header>
		{%if page.chapter_no %}<h2 class="chapter-number"> Chapter {{ page.chapter_no }}</h2>{% endif %}
		<h2>{{ page.title }}</h2>
	</header>

	{{ content }}

</article>


{% if page.previous %}
<div id="next" >
	<a href="{{ site.baseurl }}{{page.previous.url}}"><i class="fa fa-chevron-circle-left"></i>PREV</a>
</div>
{% endif %}
{% if page.next %}
<div id="prev">
	<a href="{{ site.baseurl }}{{page.next.url}}"><i class="fa fa-chevron-circle-right"></i>NEX</a>
</div>
{% endif %}
