---
layout: base
---

<nav>{% if page.previous %}
<h2 id="next"><a href="{{ site.baseurl }}{{page.previous.url}}"><i class="fa fa-chevron-left"></i></a></h2>{% else %}
<h2 id="next"><a href="{{ site.baseurl }}/index.html"><i class="fa fa-chevron-left"></i></a></h2>
{% endif %}
{% if page.next %}
<h2 id="prev"><a href="{{ site.baseurl }}{{page.next.url}}"><i class="fa fa-chevron-right"></i></a></h2>
{% endif %}</nav>

<article>

	<header>
		{%if page.chapter_no %}<h2 class="chapter-number"> Chapter {{ page.chapter_no }}</h2>{% endif %}
		<h2>{{ page.title }}</h2>
	</header>

	{{ content }}

</article>

{% include toc.html %}
